* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
.nav_link{
    text-decoration: none;
    color: #000;
}
.navbar_container ul {
    display: flex;
}
.nav_li:not(.nav_li1) {
    padding-left: 2vw;
}