* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
.nav_link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.nav-icon {
    padding-right: 0.2vw;
}
.icon-name {
    display: flex;
    align-items: center;
}
.navbar_container ul {
    display: flex;
}
.nav_li:not(.nav_li1) {
    padding-left: 2vw;
}