:root {
    --colorPrimary: #240750;
    --colorSec: #57A6A1;
    --color1: #344C64;
    --color2: #577B8D;
    --colorRetro1: #48CFCB;
    --colorRetro2: #229799;
    --colorVintage1: #F7EED3;
    --fontFamilymp: "SUSE", sans-serif;

    --fsPrimary: 4rem;
    --fs_h1: 3rem;
    --fs-title: 2.5rem;
    --fs-t2: 2rem;
    --fs_li: 1.5rem;
    --fs-es: 0.8rem
}

.admin-section {
    background-color: var(--colorPrimary);
    font-family: var(--fontFamilymp);
    padding-bottom: 5.5rem;
}
.form-container {
    position: relative;
    padding: 5rem 5vw;
    margin-left: 47vw;
    margin-top: -25rem;
    color: var(--colorVintage1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: fit-content;
}
.add-song-form input {
    background: transparent;
    border-bottom: 0.5px solid #F7EED3;
    border-right: none;
    border-left: none;
    border-top: none;
}
.add-song-form input::placeholder {
    color: var(--colorVintage1);
    opacity: 0.4;
}
.artist {
    margin: 1.2rem 0;
}
.title, .artist {
    font-size: var(--fs_li);
    padding: 0.5rem 1.2vw;
}
#song {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.custom-file-upload, .sub-button {
    cursor: pointer;
    background-color: var(--colorSec);
    color: var(--colorVintage1);
    border: none;
    border-radius: 0.5rem;
    transition: 0.2s all linear;
}
.custom-file-upload {
    padding: 0.2rem 1.0vw;
    display: inline-block;
    text-align: center;
    font-size: var(--fs_li);
}
.custom-file-upload:hover {
    background-color: var(--color2);
}
.sub-button {
    padding: 0.3rem 1.2vw;
    font-size: 1.2rem;
    margin-top: -0.2rem;
    width: 22rem;
}
.sub-button:hover{
    background-color: var(--color2);
}
.info-img {
    width: 30vw;
    height: 24.7rem;
    position: relative;
    top: 0rem;
    left: 17vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}