:root {
    --colorPrimary: #240750;
    --colorSec: #57A6A1;
    --color1: #344C64;
    --color2: #577B8D;
    --colorRetro1: #48CFCB;
    --colorRetro2: #229799;
    --colorVintage1: #F7EED3;
    --fontFamilymp: "SUSE", sans-serif;

    --fsPrimary: 4rem;
    --fs_h1: 3rem;
    --fs-title: 2.5rem;
    --fs-t2: 2rem;
    --fs_li: 1.5rem;
    --fs-es: 0.8rem
}
.cp-container {
    padding-top: 10rem;
}
.songs-list .songs {
    background-color: rgba(red, red, red, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 2.0rem 0;
}