* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_section {
    padding: 5rem 0 5rem 0;
}
.logo-nav {
    display: flex;
    align-items: center;
}
.logo-container {
    margin-right: 10vw;
    margin-left: 20vw;
}
.brand-name {
    margin-right: 4vw;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    color: var(--colorSec);
}